@font-face {
  font-family: "iconfont"; /* Project id 3829526 */
  src: url('iconfont.woff2?t=1671180658023') format('woff2'),
       url('iconfont.woff?t=1671180658023') format('woff'),
       url('iconfont.ttf?t=1671180658023') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e639";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-xiangqingzhangdan:before {
  content: "\e63a";
}

